* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}
.right-0 {
  right: 0;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.bg-white {
  background-color: #ffffff;
}
.border-radius {
  border-radius: 1rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d0d0d0d0;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  right: 0;
  top: 0;
  left: 0;
  background-color: #eeecec;
  padding: 10px 7%;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  margin: 0;
}
nav ul a {
  margin: 0 15px;
  color: #000000;
}

.btn {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

/* Nav Responsive */
.navbar__menu {
  display: none;
}

.btn__contact {
  display: block;
}
.btnContact {
  display: none;
}

/* Contact */
.contact h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  width: 50%;
  margin: auto;
}

.formGroup {
  display: block;
  margin: 30px 0;
}

.formGroup label {
  font-weight: bold;
}

.formGroup input,
select {
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  box-shadow: 2px 0 15px #ddd;
  padding: 8px;
}

.msg {
  border-radius: 10px;
  margin-top: 5px;
  resize: none;
  width: 100%;
  height: 5rem;
}

.btnSubmit {
  padding: 10px 20px;
  border: none;
  margin: 20px;
  background-color: rgb(42, 42, 82);
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

/* Card */

.cards {
  margin: auto;
}
.cards .container {
  background-color: #ffffff;
  box-sizing: 0 0 15px #d0d0d0;
  display: flex;
  padding: 2rem;
  margin: 100px auto;
  /* margin: 100px 50px; */
  width: 80%;
}

.container .left {
  flex: 50%;
}
.container .left p {
  text-align: justify;
  margin-right: 40px;
}
.container .left h2 {
  margin: 20px 0;
}

.container .right {
  flex: 50%;
}

.cards .card img {
  width: 100%;
}

.container .btnContact {
  margin: 20px 0;
}
.container a {
  color: #000000;
  margin-left: 10px;
}

.container .card {
  border: 1px solid #000000;
  text-align: center;
  width: 50%;
  box-shadow: 0 0 15px #d0d0d0;
  margin: auto;
}

.icon i {
  margin: 30px 10px;
  font-size: 30px;
}

/* Project */

.project .container {
  /* background-color: #ffffff; */
  width: 100%;
  margin: auto;
  padding: 20px;
}

.project .container h1 {
  text-align: center;
}

.project .project__group {
  width: 100%;
  margin: 9px 0;
}
.project .project__group textarea {
  width: 100%;
  resize: none;
  height: 10rem;
  border: none;
  padding: 5px;
}
.project .project__group input {
  width: 100%;
  padding: 5px;
  border: none;
}
.top-0 {
  top: 15px;
}

.project .project__group .upload {
  height: 50px;
  border-radius: 1rem;
}

.project .project__group label {
  font-weight: bold;
  font-size: 1.2rem;
}

.technologies {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 20px 0;
}

.flex {
  display: flex;
  gap: 30px;
}

.tech {
  width: 100%;
}
.uploadd p {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn__submit {
  display: flex;
  justify-content: end;
}

.btn__choose {
  border: none;
  background-color: #ddd;
  padding: 5px;
  border-radius: 1rem;
  width: 7rem;
}

/* My Project */
.myProjects {
  background-color: #ffffff;
  padding: 2rem 7%;
}
.myProjects > h1 {
  text-align: center;
  font-size: 2.5rem;
}

.myProjects .project__card {
  border: 1px solid #ddd;
  width: 20%;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 0 15px #d0d0d0;
}
.myProjects .project__card img {
  width: 100%;
  border-radius: 1rem;
}
.myProjects .project__card__body .durasi {
  font-weight: 400;
  margin: 0 0 10px 0;
}
.myProjects .project__card__body .btn__card {
  display: flex;
  margin-top: 20px;
}
.myProjects .project__card__body .btn__card button {
  width: 100%;
  padding: 5px;
  margin: 5px;
}
.edit,
.delete {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
}
.flex__card {
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.project__card__body .title__project {
  color: #000000;
}
.myProject h4 {
  text-align: center;
  padding: 25px 0 10px 0;
  font-size: 2rem;
}

.myProject .tech {
  margin-top: 30px;
}

.myProject .container {
  margin: auto;
  /* background-color: #ffffff; */
  width: 50%;
  padding: 20px;
}
.myProject .body {
  margin-top: 20px;
}
.myProject .body p {
  text-align: justify;
}

.iconTech {
  margin: 10px 0;
  color: #000000;
}

.project__card__body .body {
  margin: 1rem 0;
}

/* Responsive */
@media (max-width: 780px) {
  .cards .container {
    display: block;
    /* width: 100%; */
  }

  header .navbar__menu {
    display: block;
  }
  header nav ul {
    position: absolute;
    top: -1000%;
    display: block;
    width: 85%;
    text-align: center;
    background-color: lightblue;
    border: 1px solid #ffffff;
  }
  header nav ul.active {
    top: 100%;
  }
  header nav ul li.active {
    width: 100%;
    background-color: red;
  }
  header nav ul li {
    border: 1px solid #ffffff;
  }
  header nav ul a {
    margin: 1rem;
    width: 100%;
  }

  .btn__contact {
    display: none;
  }
  .btnContact {
    display: block;
    margin: 0;
  }
  .project .container {
    padding: 1rem 0;
  }

  .project form {
    width: 80%;
  }

  .myProjects .project__card {
    width: 100%;
    flex-wrap: wrap;
  }

  .contact {
    margin: 2rem;
  }
  .contact form {
    width: 100%;
  }
}
